body{
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.generator{
    display: flex;
    flex-direction: column;
    background-color: pink;
    border-radius: 15px;
    margin: auto;
    width: 40%;
    padding-left: 10px;
}

.generator h1{
    font-weight: bold;
}

.generator-button{
    border-radius: 7px;
    border-style: none;
    background-color: black;
    color: white;
    margin-bottom: 20px;
    width: 20%;
    height: 30px;
    cursor: pointer;
}

.generator-button:active{
    transform: scale(0.95);
    background-color: rgb(60, 97, 4);
}

.generator :nth-child(2){
    display: flex;
}

.copy{
    width: 40px;
    height: 40px;
    background-color: pink;
    border: none;
}

.copy:hover{
    cursor: pointer;
}

.pw-container{
    width: 90%;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 20px;
    align-self: center;
    background-color: pink;
}

.pw-container::placeholder{
    font-size: 22px;
}

.popup-container{
    opacity: 0;
    position: fixed;
    width: 20%;
    height: 60px;
    background-color: lightgreen;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*animation: emerge 0.5s forwards;*/
}

@keyframes emerge {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}